	html, body {
		height: 100%;
	}

	p {
		color: white;
		text-align: center;
	}
	a {
		color: red;
	}

	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;
	}

	.responsive-image {
		height: auto;
		width: 100%;
	}
	.text-black {
		color: black;
	}
	.text-white {
		color: white;
	}
	.text-blue {
		color: #0066ff;
	}
	.text-orange {
		color: rgb(233,94,39);
	}
	.text-yellow {
		color: yellow;
	}

	.border-orange {
		border-color: rgb(233,94,39);
	}

	.background-transparent {
		background-color: transparent;
	}
	.background-black {
		background-color: black;
	}
	.background-gray {
		background-color: gray;
	}

	#spacer, .border-none{
		border: none;
	}

	.footer, .push {
		height: 100px;
	}
	
/*	.tales {
	  width: 100%;
	}
	.carousel-inner{
	  width:100%;
	  max-height: 300px !important;
	}*/

	.carousel-inner > .item > img {
	    margin: 0 auto auto auto;
	}
	.carousel .item {
		/*background-color: gray;*/
		/*height: 50%;*/
	}
/*	.carousel-inner {
		max-height: 300px;
	}*/
	.carousel-indicators {
		top: -25px;
	}

	.well-padding {
		margin: 10px 10px 10px 10px;
		border-radius: 10px;
		border-width: 2px;
	}
	.well-border {
		border-top: 25px;
		border-color: #0066ff;
	}

	.image-position {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}